table {
    width: 100%;
}

td {
    border: 1px solid;
}

.country {
    border: 1px solid;
    margin: 5px auto;
    width: 70%;
    text-align: center;
}

.label {
    float: left;
    margin-right: 10px;
    text-align: center;
}